.button {
    background:linear-gradient(to bottom, #575554, #4a4948);
    color: #bfc6bf;
    position:relative;
    display:table-cell;
    vertical-align:middle;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #c6c5c4;
    width: 120px;
    height: 120px;
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
    margin-left: 2px;
    text-align: center;
    white-space: pre-wrap;
    font-family: "Tahoma", Geneva, sans-serif;
    box-shadow: inset 0px 15px green;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.button:hover {
     background: linear-gradient(#5b5957, #4b4948);
     color: #ffffff;
     cursor: pointer;
    }

.button:active {
    background: linear-gradient(#1f1f1f, #343434);
    color: #ffffff;
    cursor: pointer;
    }

.button:after {
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);
        
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
       to right, 
       rgba(255, 255, 255, 0.13) 0%,
       rgba(255, 255, 255, 0.13) 77%,
       rgba(255, 255, 255, 0.5) 92%,
       rgba(255, 255, 255, 0.0) 100%
        );
    }
      
       
.button:hover:after {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
    }
      
     
.button:active:after {
    opacity: 0;
    }


.tus {
    color : #a5b6b6;
    position:absolute;
    width:90%;
    bottom:3;
    text-align:center;
}


.button_empty {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    opacity: 0;
    color: #323232;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 12px;
    border-radius: 0px;
    border: 0px solid;
    width: 120px;
    height: 120px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
    margin-left: 2px;  
}


select {
    padding:3px;
    margin: 0;
    border-radius:4px;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    cursor:pointer;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 12px;
    margin-left: 12px;      
}

input {
    cursor:pointer;
    margin-top: 12px;
    margin-left: 12px;      
}

body {
    background-color: #323232;
    background-image: url("/images/cw_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
}

#grid_view {
    display: inline-block;
    margin-left: 8px; 
    
}

